body, html {
    height: 100%;
    }
    .bg {
    background-image: url("./deep\ 3\ \(3\).jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }